@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */



@layer utilities {
  .euclid-blue {
    color: #006895;
  }
  .euclid-red {
    color: #f62516;
  }
  .euclid-yellow {
    color: #ffba00;
  }
}

html {
  font-family: unset;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #506D99;
}

/**************************************************
*
*
*
*
*
* All of the following code is legacy. Once we are full tailwind, we can delete it.
* Please do not add any new styles to this file. Instead, use tailwind only
*
*
*
*
*
**************************************************/

.dropdown__text {
  /* padding: 10px 16px;
  cursor: pointer;
  height: auto; */
  display: flex;
}

/* .dropdown__text:hover {
  color: white;
  background: #475154;
} */

.dropdown__text:after {
  content: '';
  transition: all 0.3s;
  border: solid #ccc;
  border-width: 0 1px 1px 0;
  float: right;
  margin-top: 8px;
  margin-right: 6px;
  padding: 5px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.dropdown.activeDrop .dropdown__text:after {
  margin-top: 1px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropdown__items {
  position: relative;
  visibility: hidden;
  opacity: 0;
  max-height: 0px;
  transition: max-height 0.6s ease;
}

.dropdown.activeDrop .dropdown__items {
  visibility: visible;
  border-top: 0.1px solid #949494;
  height: auto;
  max-height: 290px;
  max-height: 17rem;
  opacity: 1;
  transition: max-height 0.7s, opacity 3s, visibility 4s ease;
  margin-top: 2.5%;
  overflow-y: auto;
}

.dropdown__item {
  /* cursor: pointer; */
  padding: 10px 18px;
  display: flex;
}

.dropdown__item:not(:last-child) {
  border-bottom: 0.1px solid #949494;
}

.dropdown__item:hover {
  color: white;
  background: #3a4143;
}

.verify-email-page {
  padding-bottom: 15rem;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyBtn {
  cursor: pointer;
}

/* RAECT COOKIE NOTICE DEFAULT STYLE OVERWRITE */
.__Q-W2 {
  z-index: 1;
}

/* RAECT DRAGGABLE DEFAULT STYLE OVERWRITE TO HIDE SCROLLBAR */
.react-draggable {
  overflow-y: scroll !important;
  scrollbar-width: 0 !important;
  /* user-select: text !important; */
}

.react-draggable::-webkit-scrollbar {
  /* WebKit */
  width: 0 !important;
  height: 0 !important;
}

.react-draggable div {
  overflow-y: scroll !important;
  scrollbar-width: 0 !important;
  /* user-select: text !important; */
}

.react-draggable div::-webkit-scrollbar {
  /* WebKit */
  width: 0 !important;
  height: 0 !important;
}

.tooltip-container {
  overflow-y: scroll !important;
  scrollbar-width: 0 !important;
  /* user-select: text !important; */
}

.tooltip-container::-webkit-scrollbar {
  /* WebKit */
  width: 0 !important;
  height: 0 !important;
}