@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */



@layer utilities {
  .euclid-blue {
    color: #006895;
  }
  .euclid-red {
    color: #f62516;
  }
  .euclid-yellow {
    color: #ffba00;
  }
}

html {
  font-family: unset;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #E0EDFF;
}

.mt-10 {
  margin-top: 2.5rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-5 {
  margin-top: 1.25rem;
}
.mt-6 {
  margin-top: 1.5rem;
}
.mt-7 {
  margin-top: 1.75rem;
}
.mt-8 {
  margin-top: 2rem;
}
.mt-12 {
  margin-top: 3rem;
}
.text-center {
  text-align: center;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.text-8xl {
  font-size: 6rem;
  line-height: 1;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.font-bold {
  font-weight: 700;
}
.font-semibold {
  font-weight: 600;
}
.italic {
  font-style: italic;
}

.text-blue-1 {
  color:#E0EDFF;
}
.text-blue-2 {
  color: #93AACC;
}
.text-blue-3 {
  color: #506D99;
}
.text-blue-4 {
  color: #213C66;
}
.text-blue-5 {
  color: #061833;
}
.text-blue-6 {
  color: #0A2245;
}
.ws-normal {
  white-space: normal;
}


/* Slideshow */

.slideshow-container {
  margin: auto;
  position: relative;
  width: 1000px;
  height: 450px;
  overflow: hidden;
}

.slide {
  display:none;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  opacity:0;
  /* transition: opacity 1s ease-in-out; */
}

.slide.active {
  display: block;
  justify-content: center;
  opacity:1;
}

.text-overflow {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.dots-container {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
  background-color: #717171;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/**************************************************
*
*
*
*
*
* All of the following code is legacy. Once we are full tailwind, we can delete it.
* Please do not add any new styles to this file. Instead, use tailwind only
*
*
*
*
*
**************************************************/

.dropdown__text {
  /* padding: 10px 16px;
  cursor: pointer;
  height: auto; */
  display: flex;
}

/* .dropdown__text:hover {
  color: white;
  background: #475154;
} */

.dropdown__text:after {
  content: '';
  transition: all 0.3s;
  border: solid #ccc;
  border-width: 0 1px 1px 0;
  float: right;
  margin-top: 8px;
  margin-right: 6px;
  padding: 5px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.dropdown.activeDrop .dropdown__text:after {
  margin-top: 1px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropdown__items {
  position: relative;
  visibility: hidden;
  opacity: 0;
  max-height: 0px;
  transition: max-height 0.6s ease;
}

.dropdown.activeDrop .dropdown__items {
  visibility: visible;
  border-top: 0.1px solid #949494;
  height: auto;
  max-height: 290px;
  max-height: 17rem;
  opacity: 1;
  transition: max-height 0.7s, opacity 3s, visibility 4s ease;
  margin-top: 2.5%;
  overflow-y: auto;
}

.dropdown__item {
  /* cursor: pointer; */
  padding: 10px 18px;
  display: flex;
}

.dropdown__item:not(:last-child) {
  border-bottom: 0.1px solid #949494;
}

.dropdown__item:hover {
  color: white;
  background: #3a4143;
}

.verify-email-page {
  padding-bottom: 15rem;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyBtn {
  cursor: pointer;
}

/* RAECT COOKIE NOTICE DEFAULT STYLE OVERWRITE */
.__Q-W2 {
  z-index: 1;
}

/* RAECT DRAGGABLE DEFAULT STYLE OVERWRITE TO HIDE SCROLLBAR */
.react-draggable {
  overflow-y: scroll !important;
  scrollbar-width: 0 !important;
  /* user-select: text !important; */
}

.react-draggable::-webkit-scrollbar {
  /* WebKit */
  width: 0 !important;
  height: 0 !important;
}

.react-draggable div {
  overflow-y: scroll !important;
  scrollbar-width: 0 !important;
  /* user-select: text !important; */
}

.react-draggable div::-webkit-scrollbar {
  /* WebKit */
  width: 0 !important;
  height: 0 !important;
}

.tooltip-container {
  overflow-y: scroll !important;
  scrollbar-width: 0 !important;
  /* user-select: text !important; */
}

.tooltip-container::-webkit-scrollbar {
  /* WebKit */
  width: 0 !important;
  height: 0 !important;
}

